/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}


body {
    background-color: #2c2c2c;
    color: #f5f5f5;
    line-height: 1.6;
}

body .url {
    opacity: 0.4;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #f5f5f5;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2c2c2c;
    border-bottom: 3px solid #e67e22;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #e67e22;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    padding: 10px 15px;
    color: #f5f5f5;
    font-size: 16px;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #e67e22;
    color: #fff;
}

/* Adjust content to account for the fixed navbar */
main {
    margin-top: 80px; /* Space for fixed navbar */
}

/* Schedule Section */
.schedule {
    padding: 20px;
}

.schedule h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.day {
    background-color: #2e2e2e; /* Darker background for each day */
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Darker shadow */
}

.day h2 {
    color: #f77e42; /* Orange color for headings */
    margin-bottom: 10px;
}

.day p{
    font-size: 20px;
}

.day p, .day ul li {
    color: #ddd; /* Light text for content */
}

.day ul {
    list-style: none;
    padding: 0;
}

.day ul li {
    margin-bottom: 10px;
}

.meal-plan {
    background-color: #444; /* Slightly lighter background for meal plans */
    padding: 20px;
    border-left: 5px solid #f77e42; /* Orange accent */
    margin-top: 20px;
}

.meal-plan h3 {
    color: #f77e42;
    margin-bottom: 10px;
}

.meal-plan ul {
    list-style-type: none;
    padding-left: 0;
}

.meal-plan ul li {
    margin-bottom: 5px;
    color: #fff; /* White text for meal options */
}

.socials-container img {
width: 50px;
height: 50px;
bottom: 100px;
float: right;
margin: 2em;
position: relative;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    border-top: 3px solid #e67e22;
}

.main-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-container {
    flex: 1;
}

.contact-container p {
    margin: 5px 0;
}

.socials-container {
    display: flex;
    gap: 10px;
}

.socials-container img {
    width: 50px;
    height: 50px;
    margin: 1em;
}
